@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
/* header style */
header{
    width: 87%;
    margin: 0 auto;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.nav-home{
    font-weight: bold;
    color: black;
}
.nav-cart{
    font-weight: 600;
     color: black;
}
.nav-shope , .nav-about{
    color: #8987A1;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}
@media screen  and (max-width:576px){
    .nav-home,.nav-shope , .nav-about{
        display: none;
    }
    .nav-logo img{
        width: 70px;
    }
}
/* shared style */
.section-text-style{
    font-size: 1.5rem;
    color: #7c7c7e;
}
/* banner style */
.banner-img img{
    width: 100%;
}
.banner-content{
    width: 50%;
}
.banner{
    display: flex;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
}
.banner-header{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.banner-header-color-2{
    color: #E95A08;
}
@media screen and (max-width:576px){
    .banner{
    flex-direction: column-reverse;
}
.banner-content{
    width: 100%;
}
.banner-header{
    font-size: 2rem;
    
}
.section-text-style{
    font-size: 1.2rem;
    
}
header{
    width: 95%;
    margin: 0 auto;
}
}
/* plants section style */
.plant-section{
    
    width: 87%;
    margin: 5rem auto;
    text-align: center;
}
.plan-section-header{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    
}
.plan-section-header-style-2{
    color: #E95A08;
}
.cart-flower-name{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .7rem;
   
}
.card-img img{
    width: 100%;
}
.cart-flower-price{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .7rem;
}
.cart-button{
    width: 100%;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 1.5rem 3rem;
}
.flower-card-container{
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
@media screen and (max-width:576px){
  
    .flower-card-container{
    
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;
}
.cart-flower-price{
    font-size: 1rem;
    margin-bottom: .6rem;
}
.cart-flower-name{
    font-size: 1rem;
    margin-bottom: .6rem;
   
}
.plant-section{
    
    width: 95%;
    margin: 4rem auto;
    /* text-align: center; */
}

}
/* flower lover section style */
.flower-lover{
    width: 87%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flower-lover-img{
   
    margin-bottom: .8rem;
}
.flower-lover-content{
    width: 46%;
}
.flower-lover-img img{
    width: 100%;
    max-height:560px ;
}
.flower-lover ul li{
   margin-bottom: .8rem;
}
@media screen and (max-width:576px){
    .flower-lover{
    
    flex-direction: column;
    align-items: center;
}
.flower-lover-content{
    width:100%;
}
}